body{
    background-color: aqua;
}
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    background-color: pink;
}
.container-fluid{
    height: 150px;
    border-radius: 20px;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    padding-top: 25px;
}
.row{
    margin-top: 50px;
}
li{
    padding-top: 20px;
    font-size: 20px;
}